$cyan: hsl(180, 66%, 49%);
$cyanLight: #9be3e2;
$violetDark: hsl(257, 27%, 26%);

$violetBg: #3a3053;
$red: hsl(0, 87%, 67%);
$gray: hsl(0, 0%, 75%);
$grayBg: #f0f1f6;
$grayishViolet: hsl(257, 7%, 63%);
$blueDarker: hsl(255, 11%, 22%);
$violetDarker: hsl(260, 8%, 14%);
